<div class="user-info-container">
  <div class="notification-container">
    <div class="notification-display">
      <mat-icon class="notification-icon">notifications_none</mat-icon>
      <div class="notification-circle">5</div>
    </div>
  </div>

  <app-line></app-line>

  <div class="avatar-container">
    <img src="../../../../assets/avatar.png" alt="user avatar" />
    <div class="body-medium name">{{ name }}</div>
    <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
  </div>
</div>
